.app{
  background-color: white;
  color: maroon;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 1280px;
}

.hide {
  display: none;
}

.components{
  border: 1px solid maroon;
  padding: 10px;
  margin: 0px 5px 5px;
  background-color: rgba(10, 50, 10, 0.1);
}

.components code{
  white-space: pre;
}

.baton{
  background-color: rgba(10, 50, 10, 0.1);
  border: 1px solid maroon;
  padding: 5px;
  margin: 5px;
}

.reset {
  opacity: 0.4;
  margin-left: 20px;
}

.table-matrix tr:nth-child(2n){
  background-color: rgba(10, 50, 10, 0.1);
}

#cy div {
  height: 500px;
}