.app{
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 1280px;
}

.file,
.matrix{
  box-shadow: 4px 4px 0px rgba(233,150,122,0.5);
}

.components{
  border: 1px solid darksalmon;
  padding: 10px;
  margin: 0px 5px 5px;
}

.components code{
  white-space: pre;
}

.baton{
  background-color: rgba(122, 205, 233, 0.3);
  border: 1px solid darksalmon;
  padding: 5px;
  margin: 5px;
}

.right-baton{
  position: absolute;
  right: 15px;
}

.reset {
  opacity: 0.4;
  margin-left: 20px;
}

.table-matrix tr:nth-child(2n+1){
  background-color: rgba(122, 205, 233, 0.3);
}

#cy div {
  height: 500px;
}