.app{
  background-color: white;
  color: maroon;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 1280px;
  font-family: 'Roboto';
  font-variant-caps: petite-caps;
}

.hide {
  display: none;
}

.components{
  border: 1px solid maroon;
  padding: 10px;
  margin: 0px 5px 5px;
  background-color: rgba(105, 138, 169, 0.1);
}

.components code{
  white-space: pre;
  font-size: small;
}

.baton{
  background-color: rgba(105, 138, 169, 0.4);
  border: 1px solid maroon;
  padding: 5px;
  margin: 5px;
  font-family: 'Roboto';
  font-variant-caps: petite-caps;
}

.reset {
  opacity: 0.4;
  margin-left: 20px;
}

.table-matrix tr:nth-child(2n){
  background-color: rgba(105, 138, 169, 0.4);
}

.table-matrix td, .table-matrix th {
  border: 1px solid maroon;
  font-weight: normal;
}

#cy div {
  height: 500px;
}